*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

header{
    width: 100%;
    background-color: #57409c ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: -20px 0;
    
}

.logo-imagem{
    width: 120px;
    
    
}

.container-logo{
    display: flex;
    align-items: center;
    width: 300px;
}

.menu li{
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
}

.menu li a{
    font-size: 24px;
    text-decoration: none;
    color: azure;
    padding: 10px 10px;
    border-radius: 25px;
}

.menu li a:hover{
    background-color: rgba(100, 100, 100, 0.5);
}

.titulos{
    font-size: 24px;
    position: relative;
    left: 20px;
}

.table, th, td{
    border: 2px solid #57409c;
    background-color: wheat;
    position: relative;
    top: 30px;
    left: 20px;
}

.imagens{
    width: 300px;
    height: 300px;
    border: 5px solid #57409c;
    display: flex; 
    justify-content: space-around;
}
